<table class="table">
	<tr><%= attachment_image_tag(user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg") %></tr>

	<tr>
		<th>name</th>
		<th><%= user.name %></th>
	</tr>

	<tr>
		<th>introduction</th>
		<th><%= user.introduction %></th>
	</tr>
	<tr>
		<th>follows</th>
		<th>
			<%= link_to following_user_path(user) do %>
			  <%= user.followings.count %>
			<% end %>
		</th>
	</tr>
	<tr>
		<th>followers</th>
		<th>
			<%= link_to followers_user_path(user) do %>
			  <%= user.followers.count %>
			<% end %>
		</th>
	</tr>
</table>

<div class="row">
	<% unless current_user == user %>
	  <% if current_user.following?(user) %>
	    <%= form_with(url: relationship_path(user.id),method: :delete) do |f| %>
            <%= hidden_field_tag :id, user.id %>
            <%= f.submit "フォロー外す(with)", class: "btn btn-primary" %>
        <% end %>
      <% else %>
      <%= form_with(url: relationships_path) do |f| %>
        <%= hidden_field_tag :following_id ,user.id %>
        <%= f.submit "フォローする(with)", class: "btn btn-success" %>
      <% end %>
      <% end %>
    <% else %>
	  <%= link_to '', edit_user_path(user), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench edit_user_#{user.id}" %>
	<% end %>
</div>